---
#cloud_controller_uri: api.vcap.me
service:
  name: mssql
  version: "2008"
  description: 'MsSQL database service'
  plans: ['free']
  tags: ['mssql', '2008', 'relational']
ip_route: localhost
#proxy:
#   host: proxy
#   port: 8080
#   keepalive: true
index: 0
token: "0xdeadbeef"
logging:
  level: debug
mbus: nats://localhost:4222
pid: /var/vcap/sys/run/mssql_service.pid
node_timeout: 2
# allow_over_provisioning: false
# z_interval: 30
check_orphan_interval: 3600
